# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
.cache
local_settings.py
*.sql
*.json
.env.*
.secrets.toml

# Database files
*.sqlite3
*.db

# Media and static files
media/
static/

# Virtual environments
.venv/
venv/
ENV/

# IDE specific settings
.idea/
.vscode/
*.swp
*.swo

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Frontend tooling files
/node_modules/
/dist/
/build/
/.next/
/.cache/
/package-lock.json
/yarn.lock

# System files
.DS_Store

# Docker files (if using Docker)
docker-compose.yml
*.dockerfile
.dockerignore
